:root {
  font-size: 14px;
}

@media (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.35rem + 1.2vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

button {
  border-radius: 0;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 1rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.text-dark {
  color: #000b24;
}

.text-light {
  color: #ffffff;
}

.text-red {
  color: #ff3347;
}

.bg-blue {
  background-color: #03267a;
}

.bg-light {
  background-color: #ffffff;
}

.bg-red {
  background-color: #ff3347;
}

.bg-none {
  background-color: transparent;
}

.navbar {
  padding: 1rem 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.navbar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .wrapper .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 1px;
}

.navbar .wrapper .navbar-toggler {
  display: none;
}

.navbar .wrapper .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  overflow: hidden;
}

.navbar .wrapper .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.navbar .wrapper .navbar-nav .nav-item .nav-link:hover {
  text-decoration: underline;
}

.navbar .wrapper .navbar-nav .nav-item .nav-link:active {
  color: #ff3347;
}

.navbar .wrapper .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .navbar .wrapper .navbar-toggler {
    display: block;
  }
  .navbar .wrapper .navbar-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: block;
    z-index: -1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0 1.5rem;
    height: 0;
    margin: 0;
  }
  .navbar .wrapper .navbar-nav .nav-item {
    width: 540px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar .wrapper .navbar-nav .nav-item .nav-link {
    display: block;
    width: 100%;
  }
  .navbar .wrapper .navbar-nav .nav-item:last-child {
    margin: 0 auto;
  }
  .navbar .wrapper .navbar-nav.open {
    padding: 0.5rem 1.5rem;
    height: 225px;
    border-top: 1px solid #ffffff;
  }
}

body {
  height: 200vh;
}

.jumbotron {
  min-height: 100vh;
  max-height: 750px;
  padding-top: 67px;
}

.jumbotron .headline {
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .jumbotron .headline {
    margin-top: 5rem;
  }
}

.jumbotron .headline h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .jumbotron .headline h1 {
    text-align: left;
  }
}

.jumbotron .headline p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .jumbotron .headline p {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .jumbotron .headline p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .jumbotron .headline p {
    text-align: left;
    font-size: 1.1rem;
  }
}

.jumbotron .headline .cta {
  background-color: #ff3347;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  margin: 1.5rem auto;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 768px) {
  .jumbotron .headline .cta {
    margin: 1.5rem 0;
  }
}

.jumbotron .case {
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .jumbotron .case {
    margin-top: 4rem;
  }
}

.jumbotron .case img {
  width: 480px;
  max-width: 100%;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  z-index: 1;
  position: relative;
}

.jumbotron .case .widget {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-shadow: 0 0 1rem rgba(0, 11, 36, 0.2);
          box-shadow: 0 0 1rem rgba(0, 11, 36, 0.2);
  padding: 1rem;
}

@media (max-width: 992px) {
  .jumbotron .case .widget {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

@media (max-width: 768px) {
  .jumbotron .case .widget {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .jumbotron .case .widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .jumbotron .case .widget li {
    margin-bottom: 0.5rem;
    width: 100%;
  }
  .jumbotron .case .widget li:last-child {
    margin-bottom: 0;
  }
}

.jumbotron .case .widget li {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  padding: 1rem 1.5rem;
}

.jumbotron .case .widget li span {
  line-height: 1em;
  font-weight: 600;
}

.jumbotron .case .widget li .tag {
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  white-space: nowrap;
}

.jumbotron .case .widget li .value {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.15rem;
}

.jumbotron .case .widget li .orang {
  font-size: 0.75rem;
}

.jumbotron .case .widget li.positif .value {
  color: #edbd00;
}

.jumbotron .case .widget li.sembuh .value {
  color: #03a30b;
}

.jumbotron .case .widget li.meninggal .value {
  color: #e4122a;
}
/*# sourceMappingURL=global.css.map */