.pengenalan {
  padding: 5rem 0;
  margin-top: 5rem;

  @media (max-width: 768px) {
    & {
      margin-top: 10rem;
    }
  }

  @media (max-width: 400px) {
    & {
      margin-top: 5rem;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;

    @media (max-width: 992px) {
      & {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
      }
    }

    .left {
      @media (max-width: 992px) {
        & {
          order: 2;
        }
      }

      .penyebab {
        h6 {
          margin-bottom: 0.5rem;
        }
      }
    }

    .right {
      text-align: center;

      @media (max-width: 992px) {
        & {
          order: 1;
          margin-bottom: 1rem;
        }
      }

      img {
        @media (max-width: 992px) {
          & {
            width: 500px;
          }
        }

        @media (max-width: 768px) {
          & {
            width: 400px;
          }
        }
      }
    }
  }
}
